@model FineArt.Models.Data.Competition

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card mx-auto">
                    <div class="card-body ">
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Competition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conditions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conditions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMG)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Content/Images/@Model.IMG" alt="Design" width="80" height="80"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CId">Edit</a> |
    <a  asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
