@model FineArt.Models.Data.Award

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card mx-auto">
                    <div class="card-body ">
@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Award</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stud_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stud_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
