@model FineArt.Models.Data.Submission
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card mx-auto">
                    <div class="card-body ">
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compet_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compet_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stud_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stud_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedBack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DIMG)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Content/Images/@Model?.DIMG" alt="Design" width="80" height="80"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="Staffs" asp-action="Index">Back to List</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

